body {
    background-color: #282c34;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.button {
    background: #1da1f2;
    border-style: none;
    color: white;
    margin: 10pt;
    padding: 10pt;
}

.content {
    max-height: 500pt;
    max-width: 500pt;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.navbar {
    width: 100%;
    min-height: 5pt;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background: #1da1f2;
}

.nav-logo {
    margin-left: 20pt;
    font-size: large;
    font-weight: bold;
}

.navbar .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar .nav-links > a {
    color: #fff;
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.board-3x3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.board-8x8 {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.status {
    margin: 10px;
}

.square {
    font-size: xxx-large;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #282c34;
    border-style: solid;
    border-width: 4pt;
    box-sizing: border-box;
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.highlighted {
    border-color: #81ce5e;
}

.gray {
    background: gray;
}

.white {
    background: white;
}

.blue {
    background: #1da1f2;
}

.orange {
    background: coral;
}
